<main class="container">
  <p
    class="alert alert-info absolute top-0"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
  >
    <%= live_flash(@flash, :info) %>
  </p>

  <p
    class="alert alert-danger  absolute top-0"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
  >
    <%= live_flash(@flash, :error) %>
  </p>

  <%= @inner_content %>
</main>
